@page
@using Identity.Models
@model Identity.Pages.Users.IndexModel
@{
    ViewData["title"] = "Users";
}

@if (Model.Message != null)
{
<div class="alert alert-success" role="alert">
    @Model.Message
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Users</h1>
    <a asp-page="./Create">Create New User</a>
</div>

@if (Model.AppUsers.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.AppUsers[0].Email)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.AppUsers[0].FirstName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.AppUsers[0].LastName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.AppUsers[0].Role)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AppUsers)
            {
                <tr>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@user.Id">@Html.DisplayFor(modelItem => user.Email)</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => user.Role)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <code>There are no users.</code>
}